p{
    color: blanchedalmond;border:1cm;background-color:rgb(138, 132, 224);border-color:rgb(15, 15, 14);
    border-style: double;
}

body{
    background-color:gray;
}

#para1{color:rgb(241, 245, 44)}
#rram
